<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find multi_robots_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find multi_robots_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find multi_robots_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find multi_robots_description)/urdf/sensors/hokuyo.urdf.xacro"/>
  <xacro:include filename="$(find multi_robots_description)/urdf/kobuki_move.urdf.xacro"/>
  <xacro:include filename="$(find multi_robots_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find multi_robots_description)/urdf/kobuki_gazebo.urdf.xacro"/>

  <xacro:kobuki ns="robot2/"/>
  <xacro:kobuki_sim ns="robot2/"/>
  <xacro:stack_hexagons parent="robot2/base_link" ns="robot2/"/>
  <xacro:sensor_hokuyo ns="robot2/"/>
  <xacro:odom_vel ns="robot2/"/>
  <xacro:turtlebot_sim_2dsensor ns="robot2/"/>
</robot>
